objective:
  - TV1D[data_fit=quad,delta=0.9,reg=0.5]
  - TV1D[data_fit=huber,delta=0.9,reg=0.5]
dataset:
  - Simulated sinusoidal[sigma=0.1,mu=0,n_features=50,n_samples=40,type_A=random]
  - Simulated blocked[sigma=0.1,mu=0,n_features=50,n_samples=40,type_A=random,num_block=3]
solver:
  - Primal PGD analysis
  - Chambolle-Pock PD-split analysis
  - CondatVu analysis
n-repetitions: 1
timeout: 20
max-runs: 50
